@model Caas_ProjectTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedFinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedFinish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusList.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusList.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
